@import 'variables.css';
@import 'global.css';
@import 'header.css';
@import 'footer.css';




main {
    padding: 200px;
}


body {
    background-color: black;
    font-family: Arial, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    gap: 20px;
    max-width: 1000px;
    margin: 20px auto 20px auto;
    padding: 0 20px;
    flex-grow: 1;
    color: white;
    flex-direction: row;
}


@media screen and (max-width: 800px) {
    main {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 500px) {
    .choices {
        flex-direction: column;
    }
    .choice-btn {
        min-width: 50px;
        
    }
    main {
        flex-direction: column;
    }
}