@import 'variables.css';
@import 'global.css';
@import 'header.css';
@import 'footer.css';





body {
    background-color: black;
    font-family: Arial, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main a {
    color: rgb(183, 183, 255);
}

main {
    display: flex;
    gap: 20px;
    max-width: 1000px;
    margin: 20px auto 20px auto;
    padding: 0 20px;
    flex-grow: 1;
    color: white;
    flex-direction: row;
    text-align: center;
}
main h1 {
    margin-right: 50px;
}

#thank-you-message {
    display: block;
    color: white;
    text-align: center;
    margin-bottom: 50px;
    background-color: var(--color-green-dark);
    margin: 10px auto;
    border-radius: 5px;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-content: center;
    font-size: 20px;
}



@media screen and (max-width: 800px) {
    main {
        grid-template-columns: 1fr;
    }
    main h1 {
        margin-right: 0px;
    }
}

@media screen and (max-width: 550px) {
    main {
        flex-direction: column;
    }
    main h1 {
        font-size: 10vw;
    }
    main h2 {
        font-size: 7vw;
    }
    p {
        font-size: 3vw;
    }
}