@import 'variables.css';
@import 'global.css';
@import 'header.css';
@import 'footer.css';





body {
    background-color: black;
    font-family: Arial, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    gap: 20px;
    max-width: 1000px;
    margin: 20px auto 20px auto;
    padding: 0 5vw;
    flex-grow: 1;
    color: white;
    flex-direction: row;
    text-align: center;
}

main h1 {
    margin-right: 50px;
}

#form1 {
    padding: 20px;
    text-align: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    font-size: 20px;
    height: 20px;
    max-width: 300px;
}


#submit {
    margin-top: 20px;
}




#submit {
    color: white;
    border: 1px solid white;
    transition: all 0.25s ease-in-out;
    padding: 10px 20px;
    font-size: 15px;
    background-color: var(--color-green-dark);
    cursor: pointer;
    border-radius: 5px;
}

#submit:hover {
    color: black;
    background-color: var(--color-green-light);
    border: 1px solid gray;

}

#name_container {
    margin: 20px auto;
    justify-self: center;
    align-self: center;
    align-content: center;
    justify-content: center;
}

#phone_container {
    margin: 20px auto;
    justify-self: center;
    align-self: center;
    align-content: center;
    justify-content: center;
}
    
#email_container {
    margin: 20px auto;
    justify-self: center;
    align-self: center;
    align-content: center;
    justify-content: center;
}

#message_container {
    text-align: center;
    align-content: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 10px auto;
    justify-self: center;
    align-self: center;
}


#full_name {
    color: black;
    font-size: 20px;
}

#phone_number {
    color: black;
    font-size: 20px;
}

#email_address {
    color: black;
    font-size: 20px;
}

#message_box {
    color: black;
    font-size: 20px;
}


@media screen and (max-width: 800px) {
    main {
        grid-template-columns: 1fr;
    }
    main h1 {
        margin-right: 0px;
    }
}

@media screen and (max-width: 550px) {
    main {
        flex-direction: column;
        padding: 0 auto;
        margin: 0;
    }
    main h1 {
        font-size: 10vw;
    }
    #name_container,
    #phone_container,
    #email_container, #message_container {
        min-width: 0;
        width: 50%;
    }
    #name_container label, #phone_container label, #email_container label, #message_container label {
    font-size: 5vw;
}
    #name_container input, #phone_container input, #email_container input, #message_container input {
    font-size: 3vw;
    width: 100%;
}

}