
/*footer {
    margin-top: 50px;
    display: flex;
    font-family: var(--font-heading);
    justify-content: space-between;
    background-color: var(--color-green-light);
    color: var(--color-brown-dark);
    align-items: center;
    padding: 1.5rem 2rem;
    width: 100%;
    border-top: 2px solid black;
}
*/


.main-footer {
    margin-top: 20px;
    border: 2px solid var(--color-green-dark);
    width: 100%;
    padding: 10px 0;
    background-color: var(--color-green-light);
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.footer-nav a {
    text-decoration: none;
    margin-left: 10px;
}

.separator {
    margin-left: 10px;
}


@media screen and (max-width: 500px) {
    .footer-content {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }
}

