* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

#user-input-container {
    font-family: var(--font-body);
}

#user-form input {
    font-family: var(--font-body);
}

#user-form button {
    font-family: var(--font-body);
}

h1, h2, h3 {
    font-family: var(--font-heading);
    color: white;
}

h1 {
    font-size: 50px;
    color: var(--color-brown-trunk);
}

h2 {
    font-size: 30px;
    color: var(--color-brown-trunk);
}

h3 {
    font-size: 20px;
    color: var(--color-green-light);
}

p {
    font-family: var(--font-body);
}