* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}



h1, h2, h3 {
    font-family: var(--font-heading);
    color: white;
    color: var(--color-brown-trunk);
}

p {
    font-family: var(--font-body);
}