header {
    display: flex;
    font-family: var(--font-body);
    justify-content: space-between;
    background-color: var(--color-green-light);
    color: black;
    align-items: center;
    padding: 10px 10px;
    margin-bottom: 50px;
    border: 2px solid var(--color-green-dark);

}

a {
    color: black;
}

.logo {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: var(--font-heading);
    font-size: 1.5rem;
    font-weight: 700;
}

.logo img {
    max-height: 50px;
    width: auto;
    display: block;
}


.nav1 a {
    text-decoration: none;
    color: black;
    margin-right: 10px;
}






.menu-toggle {
    display: none;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 5px;
    }



@keyframes menuSlideIn {
    from {
        max-height: 0;
        opacity: 1;
    }
    to {
        max-height: 155px;
        opacity: 1;
    }
}



@media screen and (max-width: 500px) {
    .menu-toggle {
        display: block;
    }

    .menu-toggle.animate {
        animation-name: menuAnimation;
        animation-duration: 2s;
    }

    .nav1 {
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: var(--color-green-light);
        border: 2px solid var(--color-green-dark);

        max-height: 0;
        opacity: 0;
        overflow: hidden;
    }

    .nav1.hide {
        animation-name: menuSlideIn;
        animation-duration: 0.5s;
        animation-direction: reverse;
        animation-fill-mode: forwards;
 
    }
    .nav1.show {
        animation-name: menuSlideIn;
        animation-duration: 1s;
        animation-direction: normal;
        animation-fill-mode: forwards;
    }

    .nav1 a {
        display: block;
        padding: 10px;
        margin: 5px 0;
        text-align: center;
    }

    header {
        position: relative;
    }

    .logo {
        font-size: 1.2rem;
    }

    .logo img {
        max-height: 40px; 
    }




}