@import 'variables.css';
@import 'global.css';
@import 'header.css';
@import 'footer.css';




main p {
    color: #fff;
}

body {
    background-color: black;
    font-family: Arial, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr auto; 
    gap: 20px;
    max-width: 1000px;
    margin: 20px auto 20px auto;
    padding: 0 20px;
    flex-grow: 1;
}

.history-list {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    border: 1px solid #fff;
    padding: 15px;
    overflow-y: auto;
    max-height: 100%;
    background-color: var(--color-green-dark)
}


ul {
    list-style: none;
    margin: 1rem 0;
}

li {
    color: white;
    margin: 0.5rem 0;
}



main h1 {
}

.game-container {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    border: 1px solid #fff;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.choices {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px; 
}

.choice-btn {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 15px 30px;
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: 5px;
    min-width: 200px;
    transition: all 0.25s ease-in-out;
}

.choice-btn:hover {
    border: 1px solid gray;
    background-color: var(--color-green-light);
    color: black;
}

@media screen and (max-width: 800px) {
    main {
        grid-template-columns: 1fr;
    }
    .history-list {
        grid-column: 1;
        grid-row: 1;
    }
    .game-container {
        grid-column: 1;
        grid-row: 2;
    }
    .choices {
        grid-column: 1;
        grid-row: 3;
    }
    .choice-btn {
        min-width: 100px;
    }
}

@media screen and (max-width: 500px) {
    .choices {
        flex-direction: column;
    }
    .choice-btn {
        min-width: 50px;
        
    }
}