@import 'variables.css';
@import 'global.css';
@import 'header.css';
@import 'footer.css';




main p {
    color: #fff;
}

body {
    background-color: black;
    font-family: Arial, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr auto; 
    gap: 20px;
    max-width: 1000px;
    margin: 20px auto 20px auto;
    padding: 0 20px;
    flex-grow: 1;
}

.history-list {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    border: 1px solid #fff;
    padding: 15px;
    overflow-y: auto;
    max-height: 100%;
    background-color: var(--color-green-dark)
}


ul {
    list-style: none;
    margin: 1rem 0;
}

li {
    color: white;
    margin: 0.5rem 0;
}



main h1 {
}



.game-container {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    border: 1px solid #fff;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.game-container h1 {
    padding: 50px 100px;
}




#user-form {
    margin: 20px auto;
}

#user-form label {
    color: white;
    font-size: 20px;
    margin-right: 5px;
}

#user-form input {
    color: black;
    font-size: 20px;
    margin-right: 20px;
}

#user-form button {
    color: white;
    border: 1px solid white;
    transition: all 0.25s ease-in-out;
    padding: 10px 20px;
    font-size: 15px;
    background-color: var(--color-green-dark);
    cursor: pointer;
    border-radius: 5px;
}

#user-form button:hover {
    color: black;
    background-color: var(--color-green-light);
    border: 1px solid gray;

}

#player_name {
    display: none;
    color: var(--color-green-light)
}


.choices {
    display: none;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-content: center;
    gap: 20px;
    margin-top: 10px; 
}

.choice-btn {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 15px 30px;
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: 5px;
    min-width: 200px;
    transition: all 0.25s ease-in-out;
}

.choice-btn:hover {
    border: 1px solid gray;
    background-color: var(--color-green-light);
    color: black;
}

@media screen and (max-width: 900px) {
    main {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto; 
    }
    main h1 {
        text-align: center;
        max-height: fit-content;
    }
    .history-list {
        grid-column: 1;
        grid-row: 1;
    }
    .game-container {
        grid-column: 1;
        grid-row: 2;
    }
    .choices {
        grid-column: 1;
        grid-row: 3;
    }
    .choice-btn {
        min-width: 0;
        width: 100%;
    }
    #user-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    #user-form label {
 
    }
    #user-form input {
        margin-right: 0;
    }
    #user-form button {
        margin-top: 20px;
    }
    
}

@media screen and (max-width: 500px) {
    .choices {
        flex-direction: column;
    }
    .choice-btn {
        min-width: 0;
        width: 100%;
    }
    main h1 {
        font-size: 10vw;
    }
    .game-container h1 {
        padding: 5vw 2vw;
    }
    .history-list {
        padding: 5vw 2vw;
    }
    main {
        padding: 0px 5px;
    }
    #user-form {
        width: 100%;
        margin: 0;
    }
    #user-form label {
        margin-right: 0;
        padding: 0;
    }
    #user-form input {
        min-width: 0;
        width: 50%;
    }

}