@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {

    --color-brown-trunk: #e6b8a9; 

    --color-brown-dark: #3E2723; 

    --color-green-light: #A5D6A7; 

    --color-green-dark: #133115; 

    --color-blue-light: #B3E5FC; 

    --font-heading: 'Playfair Display', Georgia, serif;
    --font-body: 'Open Sans', Arial, sans-serif;
}